n8n/workflow_v2_temu_sync_attributes.json
{
  "name": "Off-Site v2 - Temu Sync Attributes",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "v2-temu-sync-attributes",
        "responseMode": "lastNode",
        "options": { "allowedOrigins": "*" }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 460],
      "id": "wh-temu-sync-attrs",
      "name": "Webhook Temu Sync Attrs",
      "webhookId": "v2-temu-sync-attributes"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT tc.access_token, array_to_json(array_agg(json_build_object('category_id', c.category_id, 'category_name', c.category_name))) AS categories\nFROM config.temu_credentials tc\nCROSS JOIN catalogs.categories c\nWHERE tc.app_key = 'db98a65eba39bf6886faf56e9249589e'\n  AND c.marketplace = 'temu_ro'\n  AND c.is_active = true\nGROUP BY tc.access_token;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [460, 460],
      "id": "pg-get-creds-and-cats",
      "name": "Get Credentials + Categories",
      "credentials": {
        "postgres": { "id": "qB83OygmYC4DBr5q", "name": "Postgres account" }
      }
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst https = require('https');\n\nconst APP_KEY    = 'db98a65eba39bf6886faf56e9249589e';\nconst APP_SECRET = '3896fff8060522f365d380dc03db8a6d57c5fad6';\n\nconst row = $input.first().json;\nconst ACCESS_TOKEN = row.access_token;\n\nlet categories = row.categories;\nif (typeof categories === 'string') {\n  try { categories = JSON.parse(categories); } catch(e) { categories = []; }\n}\n\nif (!ACCESS_TOKEN) throw new Error('No access_token in config.temu_credentials');\nif (!categories || !categories.length) throw new Error('No temu_ro categories in DB. Run sync-cats first.');\n\nfunction buildSign(params) {\n  const keys = Object.keys(params).sort();\n  let s = APP_SECRET;\n  for (const k of keys) s += k + String(params[k]);\n  s += APP_SECRET;\n  return crypto.createHash('md5').update(s).digest('hex').toUpperCase();\n}\n\nasync function temuPost(type, reqBody = {}) {\n  const timestamp = String(Math.floor(Date.now() / 1000));\n  const sysParams = { type, app_key: APP_KEY, access_token: ACCESS_TOKEN, timestamp, data_type: 'JSON' };\n  const sign = buildSign(sysParams);\n  const qs = Object.entries({ ...sysParams, sign }).map(([k,v]) => `${k}=${encodeURIComponent(v)}`).join('&');\n  const body = JSON.stringify(Object.keys(reqBody).length ? { request: reqBody } : {});\n\n  return new Promise((resolve, reject) => {\n    const opts = {\n      hostname: 'openapi-b-eu.temu.com',\n      path: `/openapi/router?${qs}`,\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(body) }\n    };\n    const req = https.request(opts, res => {\n      let d = '';\n      res.on('data', c => d += c);\n      res.on('end', () => { try { resolve(JSON.parse(d)); } catch(e) { resolve({ raw: d }); } });\n    });\n    req.on('error', reject);\n    req.write(body);\n    req.end();\n  });\n}\n\n// Normalizeaza lista de caracteristici din raspunsul Temu\n// la formatul asteptat de catalogs.sync_category_from_api()\nfunction parseCharacteristics(result) {\n  const list =\n    result?.propertyList ||\n    result?.property_list ||\n    result?.templateList ||\n    result?.specList ||\n    [];\n\n  return list.map(prop => {\n    const values = (prop.valueList || prop.value_list || prop.vidList || []).map(v => ({\n      id: String(v.vid || v.value_id || v.id),\n      name: String(v.name || v.value_name || '')\n    })).filter(v => v.id && v.name);\n\n    // type_id: 1=text, 2=select, 3=number, 4=multiselect\n    const inputType = prop.inputType || prop.input_type || prop.type || 1;\n    let type_id = 1;\n    if (inputType === 2 || inputType === 'single_select') type_id = 2;\n    else if (inputType === 3 || inputType === 'number')        type_id = 3;\n    else if (inputType === 4 || inputType === 'multi_select')  type_id = 4;\n\n    return {\n      id: String(prop.specId || prop.spec_id || prop.propertyId || prop.property_id),\n      name: String(prop.name || prop.propertyName || prop.property_name || ''),\n      is_mandatory: prop.required === true || prop.isMandatory === true || prop.is_mandatory === true || false,\n      allows_custom: prop.allowsCustom === true || prop.allows_custom === true || false,\n      type_id,\n      values\n    };\n  }).filter(p => p.id && p.name);\n}\n\n// Procuram atributele pentru fiecare categorie, cu delay de 200ms intre requesturi\nconst results = [];\nlet errors = 0;\n\nfor (const cat of categories) {\n  try {\n    const resp = await temuPost('bg.local.goods.template.get', { catId: parseInt(cat.category_id) });\n\n    if (!resp.success) {\n      // Unele categorii pot sa nu aiba template (ex: categorii parinte gresite in sync)\n      errors++;\n      continue;\n    }\n\n    const characteristics = parseCharacteristics(resp.result);\n\n    results.push({\n      category_id: cat.category_id,\n      category_name: cat.category_name,\n      characteristics: JSON.stringify(characteristics)\n    });\n  } catch(e) {\n    errors++;\n  }\n\n  // Delay 200ms intre requesturi pentru a evita rate limiting\n  await new Promise(r => setTimeout(r, 200));\n}\n\nif (!results.length) {\n  throw new Error(`No attributes fetched. Errors: ${errors}/${categories.length}`);\n}\n\n// Returnam un item per categorie — nodul Postgres urmator ruleaza de N ori\nreturn results.map(r => ({ json: r }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 460],
      "id": "code-fetch-attrs",
      "name": "Fetch Attributes from Temu API"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT catalogs.sync_category_from_api('temu_ro', $1, $2, $3::jsonb) AS result;",
        "options": {
          "queryReplacement": "={{ $json.category_id }},={{ $json.category_name }},={{ $json.characteristics }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [900, 460],
      "id": "pg-sync-cat",
      "name": "Sync Category to DB",
      "credentials": {
        "postgres": { "id": "qB83OygmYC4DBr5q", "name": "Postgres account" }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all().map(item => item.json.result);\nconst total = results.length;\nconst totalChars = results.reduce((s, r) => s + (r?.characteristics_count || 0), 0);\nconst totalVals  = results.reduce((s, r) => s + (r?.values_count || 0), 0);\n\nreturn [{ json: {\n  success: true,\n  categories_synced: total,\n  characteristics_synced: totalChars,\n  values_synced: totalVals,\n  marketplace: 'temu_ro'\n} }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 460],
      "id": "code-response-attrs",
      "name": "Format Response"
    }
  ],
  "connections": {
    "Webhook Temu Sync Attrs":        { "main": [[{ "node": "Get Credentials + Categories",     "type": "main", "index": 0 }]] },
    "Get Credentials + Categories":   { "main": [[{ "node": "Fetch Attributes from Temu API",    "type": "main", "index": 0 }]] },
    "Fetch Attributes from Temu API": { "main": [[{ "node": "Sync Category to DB",               "type": "main", "index": 0 }]] },
    "Sync Category to DB":            { "main": [[{ "node": "Format Response",                    "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "1"
}
