n8n/workflow_v2_translate_characteristics.json
{
  "name": "Off-Site v2 - Translate Characteristics",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "v2-translate-characteristics",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 460],
      "id": "wh-translate-chars",
      "name": "Webhook Translate Characteristics",
      "webhookId": "v2-translate-characteristics"
    },
    {
      "parameters": {
        "jsCode": "// Validează input-ul pentru workflow-ul de traducere caracteristici.\n// Input body: { marketplace: 'trendyol_ro' [, limit: <int>] }\n// Spre deosebire de traducerea categoriilor, aici NU există upper cap pe limit —\n// userul cere explicit procesarea tuturor rândurilor într-un singur run.\nconst body = $input.first().json.body || {};\nlet marketplace = String(body.marketplace || 'trendyol_ro').toLowerCase().trim();\n\n// Accept și alias-uri scurte (trendyol -> trendyol_ro)\nconst alias = {\n  'trendyol': 'trendyol_ro',\n  'emag': 'emag_ro',\n  'temu': 'temu_ro'\n};\nif (alias[marketplace]) marketplace = alias[marketplace];\n\nlet limit = parseInt(body.limit, 10);\nif (!Number.isFinite(limit) || limit <= 0) limit = 999999;  // efectiv nelimitat\n// NU cap upper — procesăm tot ce există într-un singur run\n\nreturn [{ json: { marketplace, limit } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 460],
      "id": "code-prepare-translate-chars",
      "name": "Prepare Input"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT characteristic_id, characteristic_name FROM catalogs.characteristics WHERE marketplace = $1 AND is_active = true AND name_ro IS NULL ORDER BY characteristic_id LIMIT $2::INTEGER;",
        "options": {
          "queryReplacement": "={{ $json.marketplace }},={{ $json.limit }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [680, 460],
      "id": "pg-fetch-chars-untranslated",
      "name": "Fetch Untranslated",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "qB83OygmYC4DBr5q",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\n\n// ─── CONFIGURARE API ────────────────────────────────────────────────────────\nconst GEMINI_API_KEY = process.env.GEMINI_API_KEY || 'PUNE_GEMINI_API_KEY_AICI';\nconst MODEL_PRIMARY  = 'gemini-3.1-flash-lite-preview';\nconst MODEL_FALLBACK = 'gemini-flash-latest';\n// Rate limit: Gemini 3.1 Flash Lite = 900 RPM. Folosim ~75ms spacing = ~800 RPM efectiv.\nconst REQUEST_DELAY_MS = 75;\n// ────────────────────────────────────────────────────────────────────────────\n\nif (!GEMINI_API_KEY || GEMINI_API_KEY === 'PUNE_GEMINI_API_KEY_AICI') {\n  const prep = $('Prepare Input').first().json;\n  return [{ json: {\n    _error: 'GEMINI_API_KEY missing. Set it in n8n env (process.env.GEMINI_API_KEY) or replace the placeholder in the Translate Loop node.',\n    marketplace: prep.marketplace,\n    translated: 0,\n    failed: 0\n  } }];\n}\n\nfunction httpsRequest(options, postBody) {\n  return new Promise((resolve, reject) => {\n    const req = https.request(options, res => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => resolve({ status: res.statusCode, body: Buffer.concat(chunks) }));\n    });\n    req.on('error', reject);\n    if (postBody) req.write(postBody);\n    req.end();\n  });\n}\n\nasync function callGemini(model, reqBodyStr) {\n  const res = await httpsRequest({\n    hostname: 'generativelanguage.googleapis.com',\n    path: `/v1beta/models/${model}:generateContent?key=${GEMINI_API_KEY}`,\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n      'Content-Length': Buffer.byteLength(reqBodyStr)\n    }\n  }, reqBodyStr);\n  if (res.status >= 500) throw new Error(`HTTP ${res.status} from Gemini`);\n  return res;\n}\n\nfunction extractText(geminiResponse) {\n  try {\n    const parsed = JSON.parse(geminiResponse.body.toString('utf8'));\n    return parsed?.candidates?.[0]?.content?.parts?.[0]?.text || null;\n  } catch (e) {\n    return null;\n  }\n}\n\nasync function translateOne(characteristicName) {\n  const systemInstruction = `Traduci nume de caracteristici de produs din engleză în română pentru afișare în UI (mapping categorii/atribute marketplace).\\n\\nReguli stricte:\\n1. NU traduce brand-uri, modele, denumiri tehnice (USB-C, OLED, iPhone, mAh, RAM, DPI, etc).\\n2. Folosește termenii uzuali din eCommerce românesc (ex: \\\"Color\\\" → \\\"Culoare\\\", \\\"Material\\\" → \\\"Material\\\", \\\"Pattern\\\" → \\\"Model\\\", \\\"Weight\\\" → \\\"Greutate\\\", \\\"Size\\\" → \\\"Mărime\\\").\\n3. Scurt, clar, exact. Dacă nu ești sigur, copiază EXACT numele englezesc.\\n4. Returnează DOAR JSON valid: {\\\"name_ro\\\": \\\"<text>\\\"}.\\n5. NU oferi explicații, doar JSON.`;\n\n  const userText = `Nume caracteristică (engleză): ${characteristicName}`;\n\n  const reqBody = {\n    systemInstruction: { parts: [{ text: systemInstruction }] },\n    contents: [{ role: 'user', parts: [{ text: userText }] }],\n    generationConfig: {\n      temperature: 0.1,\n      responseMimeType: 'application/json',\n      responseSchema: {\n        type: 'object',\n        properties: { name_ro: { type: 'string' } },\n        required: ['name_ro']\n      }\n    }\n  };\n  const reqBodyStr = JSON.stringify(reqBody);\n\n  let res;\n  try {\n    res = await callGemini(MODEL_PRIMARY, reqBodyStr);\n  } catch (err) {\n    try {\n      res = await callGemini(MODEL_FALLBACK, reqBodyStr);\n    } catch (err2) {\n      return { ok: false, error: err2.message };\n    }\n  }\n\n  const text = extractText(res);\n  if (!text) return { ok: false, error: 'empty response' };\n  try {\n    const json = JSON.parse(text);\n    if (json && typeof json.name_ro === 'string' && json.name_ro.trim()) {\n      return { ok: true, name_ro: json.name_ro.trim() };\n    }\n  } catch (e) {\n    return { ok: false, error: 'json parse: ' + e.message };\n  }\n  return { ok: false, error: 'invalid name_ro' };\n}\n\nconst prep = $('Prepare Input').first().json;\nconst marketplace = prep.marketplace;\n\nconst rows = $input.all().map(i => i.json).filter(r => r && r.characteristic_id != null);\n\nif (!rows.length) {\n  // Nu există caracteristici netraduse — semnal \"done\"\n  return [{ json: { _empty: true, marketplace, translated: 0, failed: 0 } }];\n}\n\nconst results = [];\nlet translated = 0;\nlet failed = 0;\n\nfor (const row of rows) {\n  const characteristicId = String(row.characteristic_id);\n  const characteristicName = String(row.characteristic_name || '').trim();\n  if (!characteristicName) { failed++; continue; }\n\n  const result = await translateOne(characteristicName);\n  if (result.ok) {\n    results.push({\n      marketplace,\n      characteristic_id: characteristicId,\n      characteristic_name: characteristicName,\n      name_ro: result.name_ro\n    });\n    translated++;\n  } else {\n    failed++;\n  }\n\n  // Rate limit: spacing între requesturi\n  if (REQUEST_DELAY_MS > 0) {\n    await new Promise(r => setTimeout(r, REQUEST_DELAY_MS));\n  }\n}\n\n// Atașăm summary-ul la primul item, pentru recuperare în nodul final\nif (results.length > 0) {\n  results[0]._summary = { marketplace, translated, failed, total: rows.length };\n  return results.map(r => ({ json: r }));\n}\n\nreturn [{ json: { _empty: true, marketplace, translated, failed, total: rows.length } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 460],
      "id": "code-translate-chars-loop",
      "name": "Translate Loop"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE catalogs.characteristics SET name_ro = $2, name_ro_source = 'gemini', name_ro_translated_at = NOW() WHERE marketplace = $1 AND characteristic_id = $3 AND ($2 IS NOT NULL);",
        "options": {
          "queryReplacement": "={{ $json.marketplace }},={{ $json.name_ro }},={{ $json.characteristic_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1120, 460],
      "id": "pg-update-chars-translations",
      "name": "Update Translations",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "qB83OygmYC4DBr5q",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Formatează răspunsul final: contorizează succese și eșecuri\nconst items = $('Translate Loop').all().map(i => i.json);\nconst first = items[0] || {};\nconst summary = first._summary || { marketplace: first.marketplace || null, translated: 0, failed: 0, total: 0 };\n\nreturn [{\n  json: {\n    marketplace: summary.marketplace,\n    translated: summary.translated || items.filter(i => i.name_ro && !i._empty).length,\n    failed: summary.failed || 0,\n    batch_size: summary.total || items.length\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 460],
      "id": "code-format-chars-response",
      "name": "Format Response"
    }
  ],
  "connections": {
    "Webhook Translate Characteristics": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "Fetch Untranslated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Untranslated": {
      "main": [
        [
          {
            "node": "Translate Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate Loop": {
      "main": [
        [
          {
            "node": "Update Translations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Translations": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
