n8n/workflow_v2_all_categories.json
{
  "name": "Off-Site v2 - All Categories Search",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "v2-all-categories",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 460],
      "id": "wh-all-cats",
      "name": "Webhook All Categories",
      "webhookId": "v2-all-categories"
    },
    {
      "parameters": {
        "jsCode": "// Mapează platforma din frontend la marketplace-ul canonic din catalogs\nconst body = $input.first().json.body || {};\nconst platform = (body.platform || 'emag').toLowerCase();\nconst platformMap = {\n  'emag': 'emag_ro',\n  'trendyol': 'trendyol_ro',\n  'temu': 'temu_ro'\n};\nconst marketplace = platformMap[platform] || (platform + '_ro');\nconst searchTerm = (body.search || '').trim();\n\nreturn [{ json: { marketplace, searchTerm } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 460],
      "id": "code-prepare-cats",
      "name": "Prepare Query"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT category_id, category_name, name_ro FROM catalogs.categories WHERE marketplace = $1 AND is_active = true AND ( $2 = '' OR category_name ILIKE '%' || $2 || '%' OR COALESCE(name_ro, '') ILIKE '%' || $2 || '%' ) ORDER BY CASE WHEN category_name ILIKE $2 || '%' THEN 0 WHEN COALESCE(name_ro, '') ILIKE $2 || '%' THEN 1 ELSE 2 END, COALESCE(name_ro, category_name) LIMIT 50;",
        "options": {
          "queryReplacement": "={{ $json.marketplace }},={{ $json.searchTerm }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [680, 460],
      "id": "pg-all-cats",
      "name": "Query Categories",
      "credentials": {
        "postgres": {
          "id": "qB83OygmYC4DBr5q",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Formatează rezultatele Postgres în structura așteptată de frontend.\n// Include și name_ro (traducere română) pentru afișare bilingvă + search bilingv.\nconst rows = $input.all().map(item => item.json);\n\n// Dacă Postgres a returnat un singur obiect gol (no results), returnăm array gol\nif (rows.length === 1 && !rows[0].category_id) {\n  return [{ json: { categories: [] } }];\n}\n\nconst categories = rows.map(row => ({\n  id: String(row.category_id),\n  name: row.category_name,\n  nameRo: row.name_ro || null\n}));\n\nreturn [{ json: { categories } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 460],
      "id": "code-format-cats",
      "name": "Format Response"
    }
  ],
  "connections": {
    "Webhook All Categories": {
      "main": [
        [
          {
            "node": "Prepare Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Query": {
      "main": [
        [
          {
            "node": "Query Categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Categories": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
