n8n/workflow_v2_category_attributes.json
{
  "name": "Off-Site v2 - Category Attributes",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "v2-category-attributes",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 460],
      "id": "wh-cat-attrs",
      "name": "Webhook Category Attributes",
      "webhookId": "v2-category-attributes"
    },
    {
      "parameters": {
        "jsCode": "// Mapează platforma din frontend la marketplace-ul canonic din catalogs\nconst body = $input.first().json.body || {};\nconst platform = (body.platform || 'emag').toLowerCase();\nconst platformMap = {\n  'emag': 'emag_ro',\n  'trendyol': 'trendyol_ro',\n  'temu': 'temu_ro'\n};\nconst marketplace = platformMap[platform] || (platform + '_ro');\nconst categoryId = String(body.categoryId || '');\n\nif (!categoryId) {\n  return [{ json: { _error: true, attributes: [] } }];\n}\n\nreturn [{ json: { marketplace, categoryId } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 460],
      "id": "code-prepare-attrs",
      "name": "Prepare Query"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT c.characteristic_id, c.characteristic_name, c.name_ro, c.is_mandatory, c.type_id, c.allows_custom, COALESCE( json_agg( json_build_object('id', cv.value_id::text, 'name', cv.value_name) ORDER BY cv.value_name ) FILTER (WHERE cv.value_id IS NOT NULL), '[]'::json ) AS attr_values FROM catalogs.characteristics c LEFT JOIN catalogs.characteristic_values cv ON cv.marketplace = c.marketplace AND cv.characteristic_id = c.characteristic_id AND cv.is_active = true WHERE c.marketplace = $1 AND c.category_id = $2 AND c.is_active = true GROUP BY c.characteristic_id, c.characteristic_name, c.name_ro, c.is_mandatory, c.type_id, c.allows_custom ORDER BY c.is_mandatory DESC, c.characteristic_name;",
        "options": {
          "queryReplacement": "={{ $json.marketplace }},={{ $json.categoryId }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [680, 460],
      "id": "pg-cat-attrs",
      "name": "Query Characteristics",
      "credentials": {
        "postgres": {
          "id": "qB83OygmYC4DBr5q",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Formatează rezultatele Postgres în structura așteptată de frontend\nconst rows = $input.all().map(item => item.json);\n\n// Dacă nu sunt rezultate sau e eroare de la Prepare\nif (rows.length === 1 && !rows[0].characteristic_id) {\n  return [{ json: { attributes: [] } }];\n}\n\nconst attributes = rows.map(row => {\n  // Parsează attr_values dacă e string JSON\n  let values = row.attr_values || [];\n  if (typeof values === 'string') {\n    try { values = JSON.parse(values); } catch(e) { values = []; }\n  }\n\n  return {\n    id: String(row.characteristic_id),\n    name: row.characteristic_name,\n    nameRo: row.name_ro || null,\n    // type_id: 1=text, 2=select, 3=number, 4=multiselect\n    type: [2, 4].includes(row.type_id) ? 'select' : 'text',\n    required: row.is_mandatory === true,\n    allowsCustom: row.allows_custom === true,\n    values: values.filter(v => v.id !== null)\n  };\n});\n\nreturn [{ json: { attributes } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 460],
      "id": "code-format-attrs",
      "name": "Format Response"
    }
  ],
  "connections": {
    "Webhook Category Attributes": {
      "main": [
        [
          {
            "node": "Prepare Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Query": {
      "main": [
        [
          {
            "node": "Query Characteristics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Characteristics": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
